.cartmaindiv {
    width: 80%;
    height: 200px;
    margin: auto;
    border: 1px solid red;
}

.shoppingbag_heading {
    place-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    font-size: 34px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgba(0, 0, 0, .87);
    margin: 40px 0;
    font-weight: 700;
}

.cartMainDiv {
    width: 90%;
    margin: auto;
    height: 450px;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cartMainDiv_subdiv1 {
    width: 45%;
    height: 450px;
    border: 1px solid black;

}

.cartMainDiv_subdiv2 {
    width: 40%;
    height: 450px;
    overflow-y: scroll;
}

.coupons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
}

.coupons_heading1 {
    font-size: 18px;
    margin: 0px;
    color: rgb(0, 0, 0);
    font-family: Trade Gothic LT Pro, sans-serif;
    cursor: pointer;
    font-weight: 600;
    padding-left: 10px;
}

.coupons_heading2 {
    font-size: 12px;
    margin: 0px;
    color: rgb(66, 56, 56);
    font-family: Trade Gothic LT Pro, sans-serif;
    cursor: pointer;
    font-weight: bold;
    padding-left: 10px;
}

.coupons_heading2 span {
    font-size: 10px;
    margin: 0px;
    color: rgb(66, 56, 56);
    font-family: Trade Gothic LT Pro, sans-serif;
    cursor: pointer;
    font-weight: bolder;
}

.applyCouponInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.giftDiv {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.TotalItemDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.TotalDiscountDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

}

.shippingDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

}

.grandTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

}

.savedDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

}

.orderSummary {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0 0 14px !important;
    font-size: 18px;
    font-family: 'Trade Gothic LT Pro', sans-serif !important;
    letter-spacing: 0;
    padding-top: 10px;

}

.TotalItemDiv p:nth-child(1) {
    font-size: 16px;
    color: #000;
    font-family: Graphik Regular, sans-serif;
    padding-top: 10px;


}

.TotalItemDiv p:nth-child(2) {
    font-weight: bold;
    padding-top: 10px;

}

.TotalDiscountDiv {
    font-size: 16px;
    color: #000;
    font-family: Graphik Regular, sans-serif;
    color: red;
    font-weight: 500;
    padding-top: 10px;

}

.shippingDiv p:nth-child(1) {
    font-size: 16px;
    color: #000;
    font-family: Graphik Regular, sans-serif;
    padding-top: 10px;

}

.shippingDiv p:nth-child(2) {
    font-size: 16px;
    font-family: Graphik Regular, sans-serif;
    color: red;
    font-weight: 500;
    padding-top: 10px;

}
.grandTotal{
    font-size: 16px;
    color: #000;
    font-family: Graphik Regular, sans-serif;
    font-weight: 600;
    padding-top: 10px;

}
.checkoutButtonDiv{
    padding-top: 10px;

}
.recentlyViewedDiv{ 
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.recentlyViewed_subdiv1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 30px;
}
.recentlyHeading{
    color: rgb(0, 0, 0);
    font-size: 34px;
    margin: 0;
    padding-left: 17px;
    font-family: 'Trade Gothic LT Pro', sans-serif !important;
    letter-spacing: 0;
    font-weight: 500;
}
.productName{
    -webkit-line-clamp: 2;
    max-width: 100%;
    margin: 7px 0;
    line-height: 16px;
    font-size: 13px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: 'Graphik Regular', sans-serif;
    letter-spacing: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgba(0,0,0,.87);
}
.productPrice{
    font-family: Trade Gothic LT Pro,sans-serif;
    letter-spacing: 0;
    font-size: 16px;
    display: block;   
    color: rgba(0,0,0,.87);
}
.productPrice span{
    color: gray;
}
.FreeInfo{
    color: red;
    font-weight: 400;
    font-size: 15px;
}


@media screen and (max-width: 900px){
    .cartMainDiv{
        flex-direction: column;
    }
    .cartMainDiv_subdiv1{
        width: 80%;
    }
    .cartMainDiv_subdiv2{
        width: 80%;
    }
}

@media screen and (max-width: 600px) and (min-width:100px){
    .cartMainDiv{
        flex-direction: column;
    }
    .cartMainDiv_subdiv1{
        width: 90%;
    }
    .cartMainDiv_subdiv2{
        width: 90%;
    }
}