@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* outline: 2px solid blue !important; */
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f1e1e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
